:root {
  /* --main-color: 33, 33, 33; */
  --main-color: 21,21,21;
  --white-color: 225,225,225;
  --box-shadow: 0 4px 14px 0 rgb(var(--main-color), 0.3);
}

*, *:before, *:after {
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

header {
  width: 100%;
}

body > header {
  /* Page header */
  background-color: rgb(var(--main-color));
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0;
  z-index: 3;
  box-shadow: var(--box-shadow);
}

body > header > a {
  max-width: 12em;
  flex-grow: 1;
  padding: 0 1em;
  text-decoration: none;
}

body > header h1 {
  font-family: monospace;
  transform: skewY(-3deg);
  text-align: center;
  margin: 0.5em auto;
  line-height: 80%;
  color: rgb(var(--white-color));
}

body > header p {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Styling of the logo */
body > header h1 span:first-of-type {
  font-family: sans-serif;
} body > header h1 span:last-of-type {
  font-family: serif;
  font-size: 1.125em;
}

body > header nav {
  height: 100%;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

body > header ul {
  padding: 0;
  display: flex;
  overflow-x: scroll;
  position: relative;
}

body > header ul:before {
  content: "Categories >";
  position: absolute;
  left: 0;
  transform: translate(-100%,0);
  color: var(--white-color);
}


body > header ul::-webkit-scrollbar {
display: none;
}

body > header ul li {
  list-style: none;
  display: inline-block;
  padding-right: 1em;
} body > header ul li:first-of-type {
  margin-left: 1em;
}

nav a {
  display: inline-block;
  font-family: sans-serif;
  color: rgb(var(--white-color));
  text-decoration: wavy;
  text-align: center;
  padding: 0.5em 1em;
  background-color: rgba(var(--white-color), 0.25);
  box-shadow: 2px 3px 10px 0 rgb(var(--main-color));
  border-radius: 0.25em;
  transition: transform 200ms background-color 500ms;
}nav a:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: rgb(var(--white-color));
  transition: all 200ms;
}nav a:hover {
  background-color: rgba(var(--white-color), 0.5);
}nav a:hover:after{
  width: 100%;
}

main {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: rgb(var(--white-color));
}

/* main:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 1000px;
  width: 1000px;
  border-radius: 10px;
  background: url('../img/SVG/cog.svg');
  background-position: center;
  background-size: contain;
  opacity: 0.05;
  animation: rotate 60s linear infinite;
} */

.blend-test {
  position: sticky;
  color: green;
  top: 150px;
  mix-blend-mode: color-dodge;

}

main section svg {
  width: auto;
  height: 100vh;
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  animation: draw-svg 10s linear forwards;
}

section:target {
  display: flex;
}

main > section {
  display: none;
  padding: 9em 2em 2em 2em;
  min-height: 100vh;
  background-color: rgb(var(--main-color));
  position: relative;
  flex-wrap: wrap;
  color: white;
}

  main > section article {
    width: 100%;
    max-width: 32em;
    perspective: 40rem;
  }

    article > div { /* card-body */
      transform-style: preserve-3d;
      transition: 700ms transform;
    }

    article:hover > div {  /* card-body */
      transform: rotateX(-180deg);
    }

    article > div > div {
      backface-visibility: hidden;
      background-color: white;
      color: black;
    }

    article > div > div:last-of-type {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: rotateX(-180deg);
    }

section h2 {
  display: block;
  font-family: sans-serif;
} section h2:first-letter {
  font-size: 2em;
  text-transform: capitalize;
}

[loading-overlay] {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--main-color));
  z-index: 9;
  animation: remove-overlay 700ms 3.1s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

  [loading-overlay] div {
    line-height: 0.5;
    position: relative;
    font-size: 5vw;
  }

  [loading-overlay] div:after {
    content: "";
    position: absolute;
    bottom: -0.25em;
    left: 0;
    height: 0.05em;
    background-color: white;
    animation: draw-line 350ms 2.5s linear forwards;
  }

  [loading-overlay] span {
    display: inline-block;
    color: white;
    font-size: inherit;
    transform: translate(0, -75vh); 
    animation: fall-letter 500ms forwards;
  }
  [loading-overlay] span:last-of-type {
    animation: fall-letter 350ms forwards;
  }

  [loading-overlay] span:nth-child(2n+0) {
    font-family: sans-serif;
  }
  [loading-overlay] span:nth-child(3n+0) {
    font-family: monospace;
  }
  [loading-overlay] span:nth-child(3n+0) {
    font-family: cursive;
  }

  [loading-overlay] span:nth-child(1) {
    animation-delay: 100ms;
  }
  [loading-overlay] span:nth-child(2) {
    animation-delay: 200ms;
  }
  [loading-overlay] span:nth-child(3) {
    animation-delay: 300ms;
  }
  [loading-overlay] span:nth-child(4) {
    animation-delay: 400ms;
  }
  [loading-overlay] span:nth-child(5) {
    animation-delay: 500ms;
  }
  [loading-overlay] span:nth-child(6) {
    animation-delay: 600ms;
  }
  [loading-overlay] span:nth-child(7) {
    animation-delay: 700ms;
  }
  [loading-overlay] span:nth-child(8) {
    animation-delay: 800ms;
  }
  [loading-overlay] span:nth-child(9) {
    animation-delay: 900ms;
  }
  [loading-overlay] span:nth-child(10) {
    animation-delay: 1000ms;
  }
  [loading-overlay] span:nth-child(11) {
    animation-delay: 1100ms;
  }
  [loading-overlay] span:nth-child(12) {
    animation-delay: 1200ms;
  }
  [loading-overlay] span:nth-child(13) {
    animation-delay: 1300ms;
  }
  [loading-overlay] span:nth-child(14) {
    animation-delay: 1400ms;
  }
  [loading-overlay] span:nth-child(15) {
    animation-delay: 1500ms;
  }
  [loading-overlay] span:nth-child(16) {
    animation-delay: 2000ms;
  }

  [loading-overlay] span:not([space]) {
    padding: 0.125em;
  }

  [loading-overlay] [space] {
    width: 0.2em;
  }

@keyframes remove-overlay {
  0% {
    /* transform: translate(0,0); */
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
    /* transform: translate(0, -120vh); */
  }  
}

@keyframes draw-svg {
  to {
    stroke-dashoffset: 0;
    opacity: 0.2;
  }
}

@keyframes draw-line {
  0% {
    width: 0%
  }
  100% {
    width: 100%;
  }
}
@keyframes fall-letter {
  0% {
    transform: translate(0, -75vh);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: translate(50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(50%, -50%) rotate(360deg);
  }
}